# Moscow Housing Prices

In this notebook we will solve the Moscow Housing problem using the standard Pipeline.

In [12]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Introduction and Overview

This challenge is about predicting the house prices of apartments in Moscow.
The dataset has information on over 33.000 apartments in Moscow.
We have 7 files to work with:
- **apartments_meta.json:** This file contains more information about the specific features for apartments we find in the test and training files.
- **buildings_meta.json:** Does the same as apartments_meta.json but for buildings.
- **apartments_train.csv:** Contains training data where each column is a feature and each row is specific to an apartment.
- **buildings_train.csv:** Same as apartments_train.csv but this file is for the buildings the apartments are located in. Important to notice that we can use the id from this file to merge with the building id from apartment_train.csv.
- **apartments_test.csv:** Almost the same as the training file but here our model has to make a column with predicted prices.
- **buildings_test.csv:** Contains information on the building that contain the apartments from the test set. 
- **moscow.png**: Map of Moscow.

## 1. Data Exploration, Cleaning and Engineering (EDA)

In [15]:
%autoreload
 
import json
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set_style('darkgrid')
pd.set_option('display.max_colwidth', None)

In [119]:
apartments_train = pd.read_csv("Data/apartments_train.csv")
print("Loaded",len(apartments_train),"apartments from training set.")
apartments_train.head(3)

Loaded 23285 apartments from training set.

,id,seller,price,area_total,area_kitchen,area_living,floor,rooms,layout,ceiling,bathrooms_shared,bathrooms_private,windows_court,windows_street,balconies,loggias,condition,phones,building_id
0,0,3.0,7139520.0,59.2,12.5,31.0,2.0,2.0,NaN,2.65,0.0,2.0,0.0,1.0,NaN,NaN,NaN,1.0,4076
1,1,NaN,10500000.0,88.0,14.2,48.0,18.0,3.0,1.0,NaN,2.0,0.0,1.0,1.0,1.0,0.0,3.0,1.0,1893
2,2,3.0,9019650.0,78.5,22.5,40.8,12.0,3.0,NaN,2.65,0.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,5176

In [118]:
buildings_train = pd.read_csv("Data/buildings_train.csv")
print("Loaded",len(buildings_train),"buildings from training set.")
buildings_train.head(3)

Loaded 6791 buildings from training set.

,id,new,latitude,longitude,district,street,address,constructed,material,stories,elevator_without,elevator_passenger,elevator_service,parking,garbage_chute,heating
0,264,0.0,55.518117,37.355139,11.0,улица 1-я Нововатутинская,3,2019.0,2.0,12.0,1.0,1.0,1.0,0.0,1.0,3.0
1,6079,0.0,55.641920,37.352156,7.0,мкр. 10-й,к1014,1981.0,3.0,22.0,0.0,1.0,1.0,NaN,1.0,0.0
2,5829,0.0,55.770011,37.386220,7.0,Рублевское шоссе,68,2002.0,3.0,24.0,0.0,1.0,1.0,NaN,NaN,0.0

Below we can information about these features for apartments and buildings.

In [111]:
def describe_column(meta):
    """
    Utility function for describing a dataset column (see below for usage)
    """
    def f(x):
        d = pd.Series(name=x.name, dtype=object)
        m = next(m for m in meta if m['name'] == x.name)
        d['Type'] = m['type']
        d['#NaN'] = x.isna().sum()
        d['Description'] = m['desc']
        if m['type'] == 'categorical':
            counts = x.dropna().map(dict(enumerate(m['cats']))).value_counts().sort_index()
            d['Statistics'] = ', '.join(f'{c}({n})' for c, n in counts.items())
        elif m['type'] == 'real' or m['type'] == 'integer':
            stats = x.dropna().agg(['mean', 'std', 'min', 'max'])
            d['Statistics'] = ', '.join(f'{s}={v :.1f}' for s, v in stats.items())
        elif m['type'] == 'boolean':
            counts = x.dropna().astype(bool).value_counts().sort_index()
            d['Statistics'] = ', '.join(f'{c}({n})' for c, n in counts.items())
        else:
            d['Statistics'] = f'#unique={x.nunique()}'
        return d
    return f

def describe_data(data, meta):
    desc = data.apply(describe_column(meta)).T
    desc = desc.style.set_properties(**{'text-align': 'left'})
    desc = desc.set_table_styles([ dict(selector='th', props=[('text-align', 'left')])])
    return desc

In [110]:
with open('data/apartments_meta.json') as f: 
    apartments_meta = json.load(f)
describe_data(apartments_train, apartments_meta)

In [115]:
with open('data/buildings_meta.json') as f: 
    buildings_meta = json.load(f)
describe_data(buildings_train, buildings_meta)

It is very **important** to notice that features that have the type **categorical, are represented with numerical representation in the dataframes.** The first item as represented in the json file is 1.0 and the next is 2.0 and so on.

Since the field building id from the apartments data corresponds to the id field in the building data, we can merge these dataframes togheter so that we have only have a big dataframe to work with. This makes it easier to use different python tools and models.
But we have to check if all apartments have a building_id and also check that this is true for the test set.

In [48]:
apartments_test = pd.read_csv("Data/apartments_test.csv")
buildings_test = pd.read_csv("Data/buildings_test.csv")
print("Loaded",len(apartments_test),"apartments from test set.")
print("Loaded",len(buildings_test),"buildings from test set.")
print("How many missing values in building_id column from training set:",apartments_train.building_id.isnull().sum())
print("How many missing values in building_id column from test set:",apartments_test.building_id.isnull().sum())

Loaded 9937 apartments from test set.
Loaded 2931 buildings from test set.
How many missing values in building_id column from training set: 0
How many missing values in building_id column from test set: 0

We see that we have no missing values, now can merge the tables with a left join.

In [127]:
train_data = pd.merge(apartments_train, buildings_train.set_index('id'), how='left', left_on ='building_id', right_index = True)
pd.set_option('display.max_columns', None)
print("Number of rows in merged dataset",len(train_data))
print("Number of rows in the original apartments training set",len(apartments_train))
train_data.head(3)

Number of rows in merged dataset 23285
Number of rows in the original apartments training set 23285

,id,seller,price,area_total,area_kitchen,area_living,floor,rooms,layout,ceiling,bathrooms_shared,bathrooms_private,windows_court,windows_street,balconies,loggias,condition,phones,building_id,new,latitude,longitude,district,street,address,constructed,material,stories,elevator_without,elevator_passenger,elevator_service,parking,garbage_chute,heating
0,0,3.0,7139520.0,59.2,12.5,31.0,2.0,2.0,NaN,2.65,0.0,2.0,0.0,1.0,NaN,NaN,NaN,1.0,4076,1.0,55.544046,37.478055,11.0,Бунинские Луга ЖК,к2.5/2,2021.0,3.0,9.0,0.0,1.0,1.0,1.0,NaN,NaN
1,1,NaN,10500000.0,88.0,14.2,48.0,18.0,3.0,1.0,NaN,2.0,0.0,1.0,1.0,1.0,0.0,3.0,1.0,1893,0.0,55.861282,37.666647,2.0,улица Радужная,14к3,2010.0,3.0,25.0,0.0,1.0,1.0,1.0,NaN,0.0
2,2,3.0,9019650.0,78.5,22.5,40.8,12.0,3.0,NaN,2.65,0.0,2.0,1.0,1.0,NaN,NaN,NaN,1.0,5176,1.0,55.663299,37.515335,6.0,Саларьево Парк ЖК,38,2021.0,3.0,15.0,0.0,1.0,1.0,1.0,NaN,NaN

We have seen previously that we have missing values.
Let get a better view with a table showing the missing values for the training and the test data.

In [207]:
test_data = pd.merge(apartments_test, buildings_test.set_index('id'), how='left', left_on ='building_id', right_index = True)
print("Total Rows in test_data:",len(test_data))
test_data_nulls = test_data.isnull().sum()
train_data_nulls = train_data.isnull().sum()
test_data_nulls_df = test_data_nulls.to_frame().rename(columns={0:'Missing values test data'})
train_data_nulls_df = train_data_nulls.to_frame().rename(columns={0:'Missing values train data'})
pd.concat([train_data_nulls_df,test_data_nulls_df], axis=1)

Total Rows in test_data: 9937

                    Missing values train data  Missing values test data
id                                          0                       0.0
seller                                   8830                    3942.0
price                                       0                       NaN
area_total                                  0                       0.0
area_kitchen                             4721                    2233.0
area_living                              3882                    2019.0
floor                                       0                       0.0
rooms                                       0                       0.0
layout                                  17642                    7368.0
ceiling                                 11093                    5018.0
bathrooms_shared                         3872                    1717.0
bathrooms_private                        3872                    1717.0
windows_court                            8072                    3488.0
windows_street                           8072                    3488.0
balconies                               10520                    4835.0
loggias                                 10520                    4835.0
condition                                9810                    3959.0
phones                                     80                      40.0
building_id                                 0                       0.0
new                                       264                     109.0
latitude                                    0                       2.0
longitude                                   0                       2.0
district                                  130                      25.0
street                                      0                       0.0
address                                     0                       0.0
constructed                               794                     374.0
material                                 3972                    1671.0
stories                                     0                       0.0
elevator_without                          357                     180.0
elevator_passenger                        357                     180.0
elevator_service                          357                     180.0
parking                                  6788                    2867.0
garbage_chute                            8811                    3426.0
heating                                  8161                    3230.0

We can see that in both the test data and training data, we have a lot of missing values.

## 2. Choosing an algorithm

## 3. Hyperparameter Optimization

## 4. Results Interpretation